{% load static %}
{% load render_partial %}
{% load template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ course.title_page }}</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="{{ course.description_page }}">

    {% include 'includes/HeaderLink.html' %}
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/lightgallery.js/dist/css/lightgallery.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/tiny-slider/dist/tiny-slider.css' %}"/>
    <!--  Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/course_style.css' %}">
</head>
<!-- Body-->
<body>
<!-- Page loading spinner-->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
    </div>
</div>
<main class="page-wrapper">
    {% render_partial 'core.partial_views.header_light' %}
    {% if messages %}
        {% for message in messages %}
            <!-- Success alert -->
            <div class="container fixed-top">
                <div class="py-md-4">
                    <div class="alert d-flex alert-success" role="alert">
                        <i class="ai-check-circle fs-xl me-3"></i>
                        <div>
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <!-- Page content-->
    <!-- Product gallery + info-->
    <section class="sidebar-enabled sidebar-end border-bottom mb-0 mb-md-3">
        <div class="container">
            <div class="row">
                <!-- Product info-->
                <div class="col-lg-6 sidebar bg-secondary pt-5 ps-lg-4 pb-md-2">
                    <div class="ps-lg-4 pb-5">
                        <a class="d-inline-block text-decoration-none" href="#reviews" data-scroll>
                            <span class="text-body fs-sm">بیش از 60 شرکت کننده</span>
                        </a>
                        <div class="py-4">
                            <del class="text-muted me-2">{{ course.price | amount }}</del>
                            <span class="h4 mb-0">{{ course | amount_after_discount }} تومان</span>
                        </div>
                        <div class="d-flex mt-4 mb-3">
                            {% if request.user.is_authenticated %}
                                {% if access %}
                                    <span href="" class="btn btn-success d-block w-100"
                                          type="button">
                                       شما در این دوره ثبت نام کرده اید :) ❤️
                                    </span>
                                {% else %}
                                    <a href="{% url 'pay-request' course_id=course.id %}"
                                       class="btn btn-primary d-block w-100"
                                       type="button">
                                        ثبت نام و دانلود ویدیو ها
                                    </a>
                                {% endif %}

                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-primary d-block w-100"
                                   type="button">
                                    ثبت نام و دانلود ویدیو ها
                                </a>
                            {% endif %}
                        </div>
                        <button class="btn btn-outline-secondary d-block w-100 mb-grid-gutter" type="button">
                            علاقه مند
                            <i class="ai-heart fs-lg me-2"></i>
                        </button>

                        {{ course.top_description | safe }}

                    </div>
                </div>
                <div class="col-lg-6 content py-4">
                    <h1 class="mb-3 pb-4 fs-xl">{{ course.name }}</h1>
                    <!-- Product gallery-->
                    <div class="product-gallery">
                        <div class="product-gallery-preview order-sm-2">
                            <div class="product-gallery-preview-item active" id="first">
                                <img src="{{ course.main_image.url }}" alt="{{ course.alt_image }}">
                            </div>
                        </div>
                    </div>
                    <!-- Sharing-->
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start py-4 pt-md-0 pt-lg-5">
                        <h6 class="text-nowrap my-2 ms-3">به اشترک گذاری :</h6>
                        <a class="btn-social bs-outline bs-twitter ms-2 my-2" href="#">
                            <i class="ai-twitter"></i>
                        </a>
                        <a class="btn-social bs-outline bs-google ms-2 my-2" href="#">
                            <i class="ai-google"></i>
                        </a>
                        <a class="btn-social bs-outline bs-email ms-2 my-2" href="#">
                            <i class="ai-mail"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product description-->
    {{ course.main_description | safe }}
    <!-- FAQ-->
    <section class="container py-3 my-3 my-sm-0 py-sm-3 py-md-3">
        <h2 class="text-center pb-2 mb-5">سوالات متداول شما عزیزان !</h2>
        <div class="row pb-2">
            <div class="col-lg-6">
                <div class="accordion" id="faq">
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header" id="faq-heading-1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-1" aria-expanded="true" aria-controls="faq-content-1">
                                پشتیبانی دوره ها به چه صورت است ؟
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse show" id="faq-content-1" aria-labelledby="faq-heading-1"
                             data-bs-parent="#faq">
                            <div class="accordion-body">
                                <div class="fs-sm">
                                    بعد از ثبت نام شما در دوره من خودم به شما دوستان پیام میدم و با شما ارتباط برقرار
                                    میکنم و شما رو در گروه دوره اضافه خواهم کرد.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header" id="faq-heading-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-3" aria-expanded="false" aria-controls="faq-content-3">
                                آیا دوره ها ضمانت بازگشت وجه دارد؟
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-content-3" aria-labelledby="faq-heading-3"
                             data-bs-parent="#faq">
                            <div class="accordion-body">
                                <div class="fs-sm">بله دوست عزیز.
                                    تمامی دوره های پای تو پای در صورتی که شما عزیزان از آن ناراضی باشید
                                    بدون هیچ قید و شرطی مبلغ بازگردانده می شود.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-5 offset-lg-1"><img
                    src="{% static 'img/demo/booking/illustration.svg' %}" alt="سوالات متداول کاربران سایت پای تو پای">
            </div>
        </div>
    </section>
    <!-- Episode -->
    <section class="mt-1 pt-3 pt-md-0 pb-5 pb-md-6 mb-5 mb-md-6 border-bottom" id="download">
        <div class="container">
            <div class="row align-items-center pb-3 mb-5">
                <div class="col-md-12 order-md-2 pb-2 mb-4 pb-md-0 mb-md-0">
                    <div class="bg-secondary bg-size-cover bg-position-center rounded-3 py-7 px-4 ">
                        {% for season in season %}
                            <ul class="list-group list-group-flush" style="padding: 0">
                                <div>
                                    <h3 class="fs-4 mt-2">{{ season.title }}</h3>
                                </div>
                                {% for episode in season.episode_set.all %}
                                    <li class="list-group-item video-item">
                                        <span class="video-num">{{ episode.number }}</span>
                                        <div class="video-title">{{ episode.title }}</div>
                                        <div class="video-time">{{ episode.time }}</div>
                                        {% if episode.is_free %}
                                            <a href="{% url 'download-file' episode_pk=episode.pk %}"
                                               class="download-link"><i
                                                    class="ai-download"></i></a>
                                        {% else %}
                                            {% if request.user.is_authenticated %}
                                                {% if access %}
                                                    {# buy cource and have access #}
                                                    <a href="{% url 'download-file' episode_pk=episode.pk %}"
                                                       class="download-link"><i
                                                            class="ai-download"></i></a>
                                                {% else %}
                                                    {# login but #}
                                                    <span class="download-link"><i
                                                            class="ai-lock"></i></span>
                                                {% endif %}
                                            {% else %}
                                                <a href="{% url 'login' %}" class="download-link"><i
                                                        class="ai-lock"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Comment-->
    <section class="pb-5 pt-2 pt-md-0 mb-5 mb-sm-6 border-bottom" id="reviews">
        <div class="container pb-3">
            <div class="row">
                <!-- Review form-->
                <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0" style="direction: rtl">
                    <div class="bg-secondary py-5 px-4 rounded-3">
                        {% if send_comment %}
                            <h3 style="color: #16c995" class="h4 pb-2">بازخورد شما با موفقیت ثبت شد</h3>
                            <p style="color: #16c995">بعد از تایید نظر شما در بخش نظرات قابل مشاهده خواهد بود.</p>
                        {% else %}
                            <div class="px-xl-3">
                                <h3 class="h4 pb-2">نظر شما نسبت به دوره</h3>
                                <form class="needs-validation" method="post" action="" novalidate>
                                    {% csrf_token %}
                                    <div class="mb-3 pb-1">
                                        <label class="form-label px-0" for="id_name">نام شما<span
                                                class="text-danger me-1">*</span></label>
                                        {{ CommentsForm.name }}
                                        <div class="invalid-feedback">لطفا اسم خود را وارد کنید!</div>
                                        <small class="form-text text-muted">نام شما برای این نظر نمایش داده
                                            میشود.</small>
                                    </div>
                                    <div class="mb-3 pb-1">
                                        <label class="form-label px-0" for="id_email">ایمیل شما<span
                                                class="text-danger me-1">*</span></label>
                                        {{ CommentsForm.email }}
                                        <div class="invalid-feedback">لطفا یک ایمیل معتبر وارد کنید!</div>
                                        <small class="form-text text-muted">
                                            برای پاسخ به شما به یک ایمیل معتبر نیاز است.</small>
                                    </div>
                                    <div class="mb-3 pb-1">
                                        <label class="form-label px-0" for="id_star">تعداد ستاره<span
                                                class="text-danger me-1">*</span></label>
                                        {{ CommentsForm.star }}
                                        <div class="invalid-feedback">لطفاً امتیاز مورد نظر خود را بدهید!</div>
                                    </div>
                                    <div class="mb-3 pb-1">
                                        <labe class="form-label px-0l" for="id_description">توضیحات<span
                                                class="text-danger me-1">*</span></labe>
                                        {{ CommentsForm.description }}
                                        <div class="invalid-feedback">لطاً توضیحات خود را تایپ کنید!</div>
                                        <small class="form-text text-muted">
                                            باید کم تر از ۵۰ کاراکتر باشد.</small>
                                    </div>
                                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">
                                        ارسال
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Reviews list-->
                <div class="col-md-7" style="direction: rtl">
                    {% for item in courseComments %}
                        <!-- Review-->
                        <div class="{% if not forloop.first %}pt-grid-gutter {% endif %} pb-grid-gutter border-bottom">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="star-rating-lg ms-2 star-rating mt-n1">
                                    {% for num in '12345'|make_list %}
                                        {% if num <= item.star %}
                                            <i class="sr-star ai-star-filled active"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <span class="fs-sm text-muted"></span>
                            </div>
                            <p class="fs-md">
                                {{ item.description }}
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center me-3">
                                    <img class="rounded-circle"
                                         src="{% static 'img/default.png' %}"
                                         alt="Barbara Palson" width="42">
                                    <div class="pe-2 me-1">
                                        <h6 class="fs-sm mb-n1">{{ item.name }}</h6>
                                        <span class="fs-xs text-muted">{{ item.date }}</span>
                                    </div>
                                </div>
                                {#                                <div class="text-nowrap">#}
                                {#                                    <button class="btn-like like" value="{{ item.id }}"#}
                                {#                                            type="button">{{ item.likecoursecomment_set | like_count }}</button>#}
                                {#                                    <button class="btn-dislike dislike" value="{{ item.id }}"#}
                                {#                                            type="button">{{ item.likecoursecomment_set | dislike_count }}</button>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Related products (carousel)-->
</main>
<!-- Footer-->
{% render_partial 'core.partial_views.footer' %}
<!-- Back to top button-->
<a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">بالا</span>
    <i class="btn-scroll-top-icon ai-arrow-up"> </i>
</a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'vendor/lightgallery.js/dist/js/lightgallery.min.js' %}"></script>
<script src="{% static 'vendor/lg-video.js/dist/lg-video.min.js' %}"></script>
<script src="{% static 'vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
<!-- Main theme script-->
<script src="{% static 'js/theme.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click', '.like', function (e) {
        e.preventDefault();
        const x = this
        $.ajax({
            type: 'POST',
            url: '/like-course-comment',
            data: {
                commentid: this.value,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                x.innerHTML = json.total
            },
            error: function (xhr, errmsg, err) {
                if (confirm('برای ثبت نظر اول باید وارد اکانت خود شوید یا ثبت نام کنید.')) {
                    window.location.href = '{% url 'login' %}'
                }
            }
        });
    })

    $(document).on('click', '.dislike', function (e) {
        e.preventDefault();
        const x = this
        $.ajax({
            type: 'POST',
            url: '/dislike-course-comment',
            data: {
                commentid: this.value,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                x.innerHTML = json.total
            },
            error: function (xhr, errmsg, err) {
                if (confirm('برای ثبت نظر اول باید وارد اکانت خود شوید یا ثبت نام کنید.')) {
                    window.location.href = '/login'
                }
            }
        });
    })
</script>
</body>
</html>