{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="">

    {% include 'includes/HeaderLink.html' %}
</head>
<!-- Body-->
<body>
<!-- Page loading spinner-->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
    </div>
</div>
<main class="page-wrapper d-flex flex-column">
    {% render_partial 'core.partial_views.header_light' %}
    <!-- Background image-->
    <div class="d-none d-md-block position-absolute w-50 h-100 bg-size-cover"
         style="top: 0; right: 0; background-image: url({% static '' %}img/account/signin-img.jpg);"></div>
    <!-- Actual content-->
    <section class="container d-flex align-items-center pt-7 pb-3 pb-md-4" style="flex: 1 0 auto;direction: ltr">
        <div class="w-100 pt-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 offset-lg-1" style="direction: rtl">
                    <!-- Sign up view-->
                    <div class="view show" id="signup-view">
                        <h1 class="h2">{{ title }}</h1>
                        <p class="fs-ms text-muted mb-4">{{ msg }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer text-center text-md-start py-4">
    <div class="container fs-sm mb-0 py-3"><span
            class="text-muted me-1">© تمامی حقوق این سایت و تمامی مطالب مطعلق به </span><a
            class="nav-link-style" href="https://createx.studio/" target="_blank" rel="noopener">پای تو پای</a>
        می باشد.
    </div>
</footer>
<!-- Back to top button-->
<a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">بالا</span>
    <i class="btn-scroll-top-icon ai-arrow-up"> </i>
</a>

</body>
</html>