{% load static %}
<meta name="author" content="MohammadSadegh Masoumi">
<!-- Viewport-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon and Touch Icons-->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">

<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">

<link rel="manifest" href="{% static '__manifest.json' %}">

<link rel="mask-icon" color="#5bbad5" href="{% static 'safari-pinned-tab.svg' %}">
<meta name="msapplication-TileColor" content="#766df4">
<meta name="theme-color" content="#ffffff">
<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" href="{% static 'css/theme.css' %}">

